hostname = luping.cushuikeji.cn, sub.store, www.google.com,www.google.com.*, *.tiktokv.com, *.byteoversea.com, *.tik-tokapi.com, api.m. jd.com、me-api.jd.com、ms.jr.jd.com、api.m.jd.com、trade-acs.m.taobao.com、testflight.apple.com
