div.jsx-3253873324.card.border-shadow{display:none!important;}
div.jsx-19dd3ea12a275d5b.head-promotion{display:none!important;}
div.jsx-1521413039.banner-box{display:none!important;}
div.jsx-a70464603c2d77e8.mobile-nav{display:none!important;}
