#!name=Nicegram会员
#!desc=解锁Nicegram会员(2022.07.15)
#!openUrl=https://github.com/I-am-R-E/Functional-Store-Hub/tree/Master/Nicegram
#!author=@R·E https://t.me/Functional_Store_Hub

^https?:\/\/restore-access\.indream\.app\/restoreAccess\?id=\w+$ url script-echo-response https://raw.githubusercontent.com/General74110/QuantumultX/master/JS/Nicegram/Nicegram.js

hostname = restore-access.indream.app
