# ======= IT之家 ======= #
# 2023-02-15 13:05

^https:\/\/api\.ithome\.com\/json\/(listpage|newslist)\/news url script-response-body https://raw.githubusercontent.com/RuCu6/QuanX/main/Scripts/ithome.js
^https:\/\/api\.ithome\.com\/json\/slide\/index url script-response-body https://raw.githubusercontent.com/RuCu6/QuanX/main/Scripts/ithome.js
^https:\/\/api\.zuihuimai\.com url reject
^https:\/\/m\.ithome\.com\/api\/news\/newslistpageget url script-response-body https://raw.githubusercontent.com/RuCu6/QuanX/main/Scripts/ithome.js
^https:\/\/napi\.ithome\.com\/api\/(news\/index|topmenu\/getfeeds) url script-response-body https://raw.githubusercontent.com/RuCu6/QuanX/main/Scripts/ithome.js

hostname = api.ithome.com, api.zuihuimai.com, m.ithome.com, napi.ithome.com
