# ======= 酷我音乐 ====== #
# 2023-02-11 17:05

# 广告
^http:\/\/audiobookpay\.kuwo\.cn\/a\.p\?op=get_advertright url reject-dict
^http:\/\/mgxhtj\.kuwo\.cn\/mgxh\.s ^GET url-and-header script-response-body https://gitlab.com/RuCu6/QuanX/-/raw/main/Scripts/break/kuwo.js
^http:\/\/mobilead\.kuwo\.cn\/EcomResourceServer url reject-dict
^http:\/\/mobilead\.kuwo\.cn\/MobileAdServer\/getMobileLyricAd\.do url reject-dict
^http:\/\/musicpay\.kuwo\.cn\/music\.pay ^GET url-and-header reject-dict
^http:\/\/nmobi\.kuwo\.cn\/mobi\.s ^GET url-and-header script-response-body https://gitlab.com/RuCu6/QuanX/-/raw/main/Scripts/break/kuwo.js
^http:\/\/rich\.kuwo\.cn\/AdService\/kaiping url reject-dict
^http:\/\/searchrecterm\.kuwo\.cn\/recterm\.s ^GET url-and-header script-response-body https://gitlab.com/RuCu6/QuanX/-/raw/main/Scripts/break/kuwo.js
^https:\/\/tmeadcomm\.y\.qq\.com\/maproxy\/getAd$ url reject-dict

# 会员
^http:\/\/audiobookpay\.kuwo\.cn\/a\.p url script-response-body https://gitlab.com/RuCu6/QuanX/-/raw/main/Scripts/break/kuwo.js
^http:\/\/musicpay\.kuwo\.cn\/music\.pay ^POST url-and-header script-response-body https://gitlab.com/RuCu6/QuanX/-/raw/main/Scripts/break/kuwo.js
^http:\/\/vip1\.kuwo\.cn\/vip\/enc\/user\/vip ^GET url-and-header script-response-body https://gitlab.com/RuCu6/QuanX/-/raw/main/Scripts/break/kuwo.js
^http:\/\/vip1\.kuwo\.cn\/vip\/v2\/theme\?op=gd ^GET url-and-header script-response-body https://gitlab.com/RuCu6/QuanX/-/raw/main/Scripts/break/kuwo.js
^https:\/\/vip1\.kuwo\.cn\/vip\/v2\/user\/vip url script-response-body https://gitlab.com/RuCu6/QuanX/-/raw/main/Scripts/break/kuwo.js

hostname = *.kuwo.cn, tmeadcomm.y.qq.com
