#引用自https://raw.githubusercontent.com/VirgilClyne/GetSomeFries/main/ruleset/ASN.China.list
IP-ASN, 4134, direct
IP-ASN, 4538, direct
IP-ASN, 4611, direct
IP-ASN, 4789, direct
IP-ASN, 4808, direct
IP-ASN, 4809, direct
IP-ASN, 4811, direct
IP-ASN, 4812, direct
IP-ASN, 4813, direct
IP-ASN, 4816, direct
IP-ASN, 4835, direct
IP-ASN, 4837, direct
IP-ASN, 4842, direct
IP-ASN, 4847, direct
IP-ASN, 4859, direct
IP-ASN, 7497, direct
IP-ASN, 7586, direct
IP-ASN, 7640, direct
IP-ASN, 7641, direct
IP-ASN, 9298, direct
IP-ASN, 9306, direct
IP-ASN, 9308, direct
IP-ASN, 9389, direct
IP-ASN, 9391, direct
IP-ASN, 9392, direct
IP-ASN, 9394, direct
IP-ASN, 9395, direct
IP-ASN, 9401, direct
IP-ASN, 9405, direct
IP-ASN, 9535, direct
IP-ASN, 9800, direct
IP-ASN, 9801, direct
IP-ASN, 9802, direct
IP-ASN, 9803, direct
IP-ASN, 9805, direct
IP-ASN, 9806, direct
IP-ASN, 9807, direct
IP-ASN, 9808, direct
IP-ASN, 9809, direct
IP-ASN, 9810, direct
IP-ASN, 9811, direct
IP-ASN, 9812, direct
IP-ASN, 9814, direct
IP-ASN, 9818, direct
IP-ASN, 9886, direct
IP-ASN, 9929, direct
IP-ASN, 9939, direct
IP-ASN, 10111, direct
IP-ASN, 10206, direct
IP-ASN, 10212, direct
IP-ASN, 17428, direct
IP-ASN, 17429, direct
IP-ASN, 17430, direct
IP-ASN, 17442, direct
IP-ASN, 17490, direct
IP-ASN, 17621, direct
IP-ASN, 17622, direct
IP-ASN, 17623, direct
IP-ASN, 17633, direct
IP-ASN, 17638, direct
IP-ASN, 17739, direct
IP-ASN, 17767, direct
IP-ASN, 17775, direct
IP-ASN, 17776, direct
IP-ASN, 17781, direct
IP-ASN, 17785, direct
IP-ASN, 17799, direct
IP-ASN, 17816, direct
IP-ASN, 17897, direct
IP-ASN, 17962, direct
IP-ASN, 17964, direct
IP-ASN, 17966, direct
IP-ASN, 17968, direct
IP-ASN, 17969, direct
IP-ASN, 18011, direct
IP-ASN, 18118, direct
IP-ASN, 18239, direct
IP-ASN, 18241, direct
IP-ASN, 18242, direct
IP-ASN, 18243, direct
IP-ASN, 18244, direct
IP-ASN, 18245, direct
IP-ASN, 18257, direct
IP-ASN, 23650, direct
IP-ASN, 23724, direct
IP-ASN, 23771, direct
IP-ASN, 23839, direct
IP-ASN, 23840, direct
IP-ASN, 23842, direct
IP-ASN, 23844, direct
IP-ASN, 23848, direct
IP-ASN, 23851, direct
IP-ASN, 23852, direct
IP-ASN, 23853, direct
IP-ASN, 23910, direct
IP-ASN, 23911, direct
IP-ASN, 24133, direct
IP-ASN, 24134, direct
IP-ASN, 24137, direct
IP-ASN, 24138, direct
IP-ASN, 24139, direct
IP-ASN, 24141, direct
IP-ASN, 24143, direct
IP-ASN, 24144, direct
IP-ASN, 24147, direct
IP-ASN, 24149, direct
IP-ASN, 24150, direct
IP-ASN, 24151, direct
IP-ASN, 24239, direct
IP-ASN, 24302, direct
IP-ASN, 24311, direct
IP-ASN, 24348, direct
IP-ASN, 24349, direct
IP-ASN, 24350, direct
IP-ASN, 24351, direct
IP-ASN, 24352, direct
IP-ASN, 24353, direct
IP-ASN, 24354, direct
IP-ASN, 24355, direct
IP-ASN, 24356, direct
IP-ASN, 24357, direct
IP-ASN, 24358, direct
IP-ASN, 24359, direct
IP-ASN, 24360, direct
IP-ASN, 24361, direct
IP-ASN, 24362, direct
IP-ASN, 24363, direct
IP-ASN, 24364, direct
IP-ASN, 24365, direct
IP-ASN, 24366, direct
IP-ASN, 24367, direct
IP-ASN, 24368, direct
IP-ASN, 24369, direct
IP-ASN, 24370, direct
IP-ASN, 24371, direct
IP-ASN, 24372, direct
IP-ASN, 24376, direct
IP-ASN, 24400, direct
IP-ASN, 24404, direct
IP-ASN, 24406, direct
IP-ASN, 24409, direct
IP-ASN, 24413, direct
IP-ASN, 24416, direct
IP-ASN, 24422, direct
IP-ASN, 24423, direct
IP-ASN, 24424, direct
IP-ASN, 24427, direct
IP-ASN, 24428, direct
IP-ASN, 24429, direct
IP-ASN, 24430, direct
IP-ASN, 24444, direct
IP-ASN, 24445, direct
IP-ASN, 24489, direct
IP-ASN, 24495, direct
IP-ASN, 24547, direct
IP-ASN, 24575, direct
IP-ASN, 37936, direct
IP-ASN, 37937, direct
IP-ASN, 37941, direct
IP-ASN, 37942, direct
IP-ASN, 37943, direct
IP-ASN, 37957, direct
IP-ASN, 37963, direct
IP-ASN, 37965, direct
IP-ASN, 37969, direct
IP-ASN, 37970, direct
IP-ASN, 38019, direct
IP-ASN, 38027, direct
IP-ASN, 38057, direct
IP-ASN, 38238, direct
IP-ASN, 38255, direct
IP-ASN, 38272, direct
IP-ASN, 38283, direct
IP-ASN, 38323, direct
IP-ASN, 38339, direct
IP-ASN, 38340, direct
IP-ASN, 38341, direct
IP-ASN, 38342, direct
IP-ASN, 38345, direct
IP-ASN, 38346, direct
IP-ASN, 38353, direct
IP-ASN, 38355, direct
IP-ASN, 38357, direct
IP-ASN, 38358, direct
IP-ASN, 38363, direct
IP-ASN, 38364, direct
IP-ASN, 38365, direct
IP-ASN, 38367, direct
IP-ASN, 38370, direct
IP-ASN, 38372, direct
IP-ASN, 38375, direct
IP-ASN, 38378, direct
IP-ASN, 38379, direct
IP-ASN, 38380, direct
IP-ASN, 38381, direct
IP-ASN, 38439, direct
IP-ASN, 38587, direct
IP-ASN, 38834, direct
IP-ASN, 42962, direct
IP-ASN, 45057, direct
IP-ASN, 45058, direct
IP-ASN, 45061, direct
IP-ASN, 45062, direct
IP-ASN, 45064, direct
IP-ASN, 45069, direct
IP-ASN, 45071, direct
IP-ASN, 45074, direct
IP-ASN, 45075, direct
IP-ASN, 45079, direct
IP-ASN, 45080, direct
IP-ASN, 45083, direct
IP-ASN, 45084, direct
IP-ASN, 45086, direct
IP-ASN, 45087, direct
IP-ASN, 45090, direct
IP-ASN, 45093, direct
IP-ASN, 45101, direct
IP-ASN, 45110, direct
IP-ASN, 45113, direct
IP-ASN, 45275, direct
IP-ASN, 45576, direct
IP-ASN, 45587, direct
IP-ASN, 49953, direct
IP-ASN, 55439, direct
IP-ASN, 55461, direct
IP-ASN, 55468, direct
IP-ASN, 55641, direct
IP-ASN, 55786, direct
IP-ASN, 55826, direct
IP-ASN, 55956, direct
IP-ASN, 55958, direct
IP-ASN, 55960, direct
IP-ASN, 55962, direct
IP-ASN, 55966, direct
IP-ASN, 55967, direct
IP-ASN, 55971, direct
IP-ASN, 55973, direct
IP-ASN, 55976, direct
IP-ASN, 55977, direct
IP-ASN, 55982, direct
IP-ASN, 55990, direct
IP-ASN, 55992, direct
IP-ASN, 55994, direct
IP-ASN, 55996, direct
IP-ASN, 55998, direct
IP-ASN, 56000, direct
IP-ASN, 56001, direct
IP-ASN, 56002, direct
IP-ASN, 56003, direct
IP-ASN, 56004, direct
IP-ASN, 56005, direct
IP-ASN, 56006, direct
IP-ASN, 56011, direct
IP-ASN, 56012, direct
IP-ASN, 56013, direct
IP-ASN, 56015, direct
IP-ASN, 56019, direct
IP-ASN, 56040, direct
IP-ASN, 56041, direct
IP-ASN, 56042, direct
IP-ASN, 56044, direct
IP-ASN, 56046, direct
IP-ASN, 56047, direct
IP-ASN, 56048, direct
IP-ASN, 56282, direct
IP-ASN, 56292, direct
IP-ASN, 58336, direct
IP-ASN, 58416, direct
IP-ASN, 58448, direct
IP-ASN, 58461, direct
IP-ASN, 58466, direct
IP-ASN, 58517, direct
IP-ASN, 58518, direct
IP-ASN, 58519, direct
IP-ASN, 58520, direct
IP-ASN, 58536, direct
IP-ASN, 58539, direct
IP-ASN, 58540, direct
IP-ASN, 58541, direct
IP-ASN, 58542, direct
IP-ASN, 58543, direct
IP-ASN, 58563, direct
IP-ASN, 58571, direct
IP-ASN, 58593, direct
IP-ASN, 58772, direct
IP-ASN, 58811, direct
IP-ASN, 58828, direct
IP-ASN, 58829, direct
IP-ASN, 58834, direct
IP-ASN, 58842, direct
IP-ASN, 58844, direct
IP-ASN, 58850, direct
IP-ASN, 58852, direct
IP-ASN, 58854, direct
IP-ASN, 58859, direct
IP-ASN, 58862, direct
IP-ASN, 58863, direct
IP-ASN, 58866, direct
IP-ASN, 58879, direct
IP-ASN, 58962, direct
IP-ASN, 58998, direct
IP-ASN, 59000, direct
IP-ASN, 59003, direct
IP-ASN, 59008, direct
IP-ASN, 59009, direct
IP-ASN, 59010, direct
IP-ASN, 59011, direct
IP-ASN, 59012, direct
IP-ASN, 59019, direct
IP-ASN, 59022, direct
IP-ASN, 59023, direct
IP-ASN, 59025, direct
IP-ASN, 59029, direct
IP-ASN, 59033, direct
IP-ASN, 59034, direct
IP-ASN, 59037, direct
IP-ASN, 59043, direct
IP-ASN, 59045, direct
IP-ASN, 59048, direct
IP-ASN, 59049, direct
IP-ASN, 59050, direct
IP-ASN, 59056, direct
IP-ASN, 59057, direct
IP-ASN, 59065, direct
IP-ASN, 59067, direct
IP-ASN, 59068, direct
IP-ASN, 59070, direct
IP-ASN, 59072, direct
IP-ASN, 59073, direct
IP-ASN, 59074, direct
IP-ASN, 59077, direct
IP-ASN, 59078, direct
IP-ASN, 59080, direct
IP-ASN, 59081, direct
IP-ASN, 59083, direct
IP-ASN, 59089, direct
IP-ASN, 59201, direct
IP-ASN, 59265, direct
IP-ASN, 63531, direct
IP-ASN, 63534, direct
IP-ASN, 63535, direct
IP-ASN, 63540, direct
IP-ASN, 63541, direct
IP-ASN, 63545, direct
IP-ASN, 63548, direct
IP-ASN, 63549, direct
IP-ASN, 63554, direct
IP-ASN, 63555, direct
IP-ASN, 63561, direct
IP-ASN, 63564, direct
IP-ASN, 63565, direct
IP-ASN, 63570, direct
IP-ASN, 63571, direct
IP-ASN, 63580, direct
IP-ASN, 63581, direct
IP-ASN, 63582, direct
IP-ASN, 63583, direct
IP-ASN, 63590, direct
IP-ASN, 63593, direct
IP-ASN, 63598, direct
IP-ASN, 63603, direct
IP-ASN, 63612, direct
IP-ASN, 63614, direct
IP-ASN, 63615, direct
IP-ASN, 63617, direct
IP-ASN, 63619, direct
IP-ASN, 63620, direct
IP-ASN, 63621, direct
IP-ASN, 63629, direct
IP-ASN, 63630, direct
IP-ASN, 63631, direct
IP-ASN, 63634, direct
IP-ASN, 63641, direct
IP-ASN, 63646, direct
IP-ASN, 63648, direct
IP-ASN, 63654, direct
IP-ASN, 63655, direct
IP-ASN, 63673, direct
IP-ASN, 63677, direct
IP-ASN, 63678, direct
IP-ASN, 63679, direct
IP-ASN, 63689, direct
IP-ASN, 63690, direct
IP-ASN, 63691, direct
IP-ASN, 63695, direct
IP-ASN, 63696, direct
IP-ASN, 63697, direct
IP-ASN, 63701, direct
IP-ASN, 63704, direct
IP-ASN, 63705, direct
IP-ASN, 63711, direct
IP-ASN, 63722, direct
IP-ASN, 63724, direct
IP-ASN, 63727, direct
IP-ASN, 63835, direct
IP-ASN, 63838, direct
IP-ASN, 131134, direct
IP-ASN, 131137, direct
IP-ASN, 131171, direct
IP-ASN, 131285, direct
IP-ASN, 131325, direct
IP-ASN, 131477, direct
IP-ASN, 131482, direct
IP-ASN, 131484, direct
IP-ASN, 131486, direct
IP-ASN, 131495, direct
IP-ASN, 131497, direct
IP-ASN, 131503, direct
IP-ASN, 131506, direct
IP-ASN, 131512, direct
IP-ASN, 131519, direct
IP-ASN, 131521, direct
IP-ASN, 131524, direct
IP-ASN, 131525, direct
IP-ASN, 131535, direct
IP-ASN, 131536, direct
IP-ASN, 131558, direct
IP-ASN, 131562, direct
IP-ASN, 131567, direct
IP-ASN, 131574, direct
IP-ASN, 131577, direct
IP-ASN, 131578, direct
IP-ASN, 132019, direct
IP-ASN, 132147, direct
IP-ASN, 132153, direct
IP-ASN, 132203, direct
IP-ASN, 132225, direct
IP-ASN, 132352, direct
IP-ASN, 132437, direct
IP-ASN, 132510, direct
IP-ASN, 132525, direct
IP-ASN, 132553, direct
IP-ASN, 132623, direct
IP-ASN, 132698, direct
IP-ASN, 132719, direct
IP-ASN, 132886, direct
IP-ASN, 133111, direct
IP-ASN, 133118, direct
IP-ASN, 133119, direct
IP-ASN, 133194, direct
IP-ASN, 133219, direct
IP-ASN, 133365, direct
IP-ASN, 133465, direct
IP-ASN, 133475, direct
IP-ASN, 133492, direct
IP-ASN, 133512, direct
IP-ASN, 133513, direct
IP-ASN, 133515, direct
IP-ASN, 133517, direct
IP-ASN, 133518, direct
IP-ASN, 133555, direct
IP-ASN, 133731, direct
IP-ASN, 133774, direct
IP-ASN, 133775, direct
IP-ASN, 133776, direct
IP-ASN, 133846, direct
IP-ASN, 133865, direct
IP-ASN, 133952, direct
IP-ASN, 134098, direct
IP-ASN, 134169, direct
IP-ASN, 134238, direct
IP-ASN, 134417, direct
IP-ASN, 134418, direct
IP-ASN, 134419, direct
IP-ASN, 134420, direct
IP-ASN, 134477, direct
IP-ASN, 134478, direct
IP-ASN, 134488, direct
IP-ASN, 134542, direct
IP-ASN, 134543, direct
IP-ASN, 134578, direct
IP-ASN, 134602, direct
IP-ASN, 134755, direct
IP-ASN, 134756, direct
IP-ASN, 134760, direct
IP-ASN, 134761, direct
IP-ASN, 134762, direct
IP-ASN, 134763, direct
IP-ASN, 134764, direct
IP-ASN, 134765, direct
IP-ASN, 134766, direct
IP-ASN, 134768, direct
IP-ASN, 134769, direct
IP-ASN, 134770, direct
IP-ASN, 134771, direct
IP-ASN, 134772, direct
IP-ASN, 134773, direct
IP-ASN, 134774, direct
IP-ASN, 134775, direct
IP-ASN, 134810, direct
IP-ASN, 134981, direct
IP-ASN, 134993, direct
IP-ASN, 135006, direct
IP-ASN, 135028, direct
IP-ASN, 135061, direct
IP-ASN, 135357, direct
IP-ASN, 135363, direct
IP-ASN, 135365, direct
IP-ASN, 135629, direct
IP-ASN, 135646, direct
IP-ASN, 135663, direct
IP-ASN, 135671, direct
IP-ASN, 136146, direct
IP-ASN, 136160, direct
IP-ASN, 136173, direct
IP-ASN, 136180, direct
IP-ASN, 136188, direct
IP-ASN, 136189, direct
IP-ASN, 136190, direct
IP-ASN, 136191, direct
IP-ASN, 136192, direct
IP-ASN, 136193, direct
IP-ASN, 136194, direct
IP-ASN, 136195, direct
IP-ASN, 136197, direct
IP-ASN, 136198, direct
IP-ASN, 136199, direct
IP-ASN, 136200, direct
IP-ASN, 136237, direct
IP-ASN, 136250, direct
IP-ASN, 136390, direct
IP-ASN, 136545, direct
IP-ASN, 136559, direct
IP-ASN, 136574, direct
IP-ASN, 136591, direct
IP-ASN, 136600, direct
IP-ASN, 136758, direct
IP-ASN, 136766, direct
IP-ASN, 136782, direct
IP-ASN, 136958, direct
IP-ASN, 136959, direct
IP-ASN, 137218, direct
IP-ASN, 137256, direct
IP-ASN, 137266, direct
IP-ASN, 137401, direct
IP-ASN, 137402, direct
IP-ASN, 137410, direct
IP-ASN, 137509, direct
IP-ASN, 137539, direct
IP-ASN, 137547, direct
IP-ASN, 137571, direct
IP-ASN, 137686, direct
IP-ASN, 137687, direct
IP-ASN, 137688, direct
IP-ASN, 137689, direct
IP-ASN, 137690, direct
IP-ASN, 137691, direct
IP-ASN, 137692, direct
IP-ASN, 137693, direct
IP-ASN, 137694, direct
IP-ASN, 137695, direct
IP-ASN, 137697, direct
IP-ASN, 137698, direct
IP-ASN, 137699, direct
IP-ASN, 137702, direct
IP-ASN, 137710, direct
IP-ASN, 137711, direct
IP-ASN, 137715, direct
IP-ASN, 137718, direct
IP-ASN, 137719, direct
IP-ASN, 137726, direct
IP-ASN, 137735, direct
IP-ASN, 137747, direct
IP-ASN, 137753, direct
IP-ASN, 137758, direct
IP-ASN, 137759, direct
IP-ASN, 137761, direct
IP-ASN, 137762, direct
IP-ASN, 137764, direct
IP-ASN, 137767, direct
IP-ASN, 137782, direct
IP-ASN, 137784, direct
IP-ASN, 137785, direct
IP-ASN, 137787, direct
IP-ASN, 137788, direct
IP-ASN, 137791, direct
IP-ASN, 137794, direct
IP-ASN, 137798, direct
IP-ASN, 137799, direct
IP-ASN, 137801, direct
IP-ASN, 137804, direct
IP-ASN, 137805, direct
IP-ASN, 137806, direct
IP-ASN, 137813, direct
IP-ASN, 137835, direct
IP-ASN, 137882, direct
IP-ASN, 137897, direct
IP-ASN, 137936, direct
IP-ASN, 137946, direct
IP-ASN, 138029, direct
IP-ASN, 138166, direct
IP-ASN, 138169, direct
IP-ASN, 138182, direct
IP-ASN, 138211, direct
IP-ASN, 138333, direct
IP-ASN, 138369, direct
IP-ASN, 138370, direct
IP-ASN, 138371, direct
IP-ASN, 138373, direct
IP-ASN, 138374, direct
IP-ASN, 138375, direct
IP-ASN, 138376, direct
IP-ASN, 138377, direct
IP-ASN, 138378, direct
IP-ASN, 138381, direct
IP-ASN, 138387, direct
IP-ASN, 138393, direct
IP-ASN, 138405, direct
IP-ASN, 138407, direct
IP-ASN, 138409, direct
IP-ASN, 138421, direct
IP-ASN, 138436, direct
IP-ASN, 138438, direct
IP-ASN, 138440, direct
IP-ASN, 138441, direct
IP-ASN, 138442, direct
IP-ASN, 138513, direct
IP-ASN, 138514, direct
IP-ASN, 138517, direct
IP-ASN, 138538, direct
IP-ASN, 138542, direct
IP-ASN, 138545, direct
IP-ASN, 138597, direct
IP-ASN, 138635, direct
IP-ASN, 138641, direct
IP-ASN, 138667, direct
IP-ASN, 138679, direct
IP-ASN, 138914, direct
IP-ASN, 138949, direct
IP-ASN, 138950, direct
IP-ASN, 138982, direct
IP-ASN, 138990, direct
IP-ASN, 138991, direct
IP-ASN, 139007, direct
IP-ASN, 139018, direct
IP-ASN, 139019, direct
IP-ASN, 139023, direct
IP-ASN, 139057, direct
IP-ASN, 139061, direct
IP-ASN, 139073, direct
IP-ASN, 139080, direct
IP-ASN, 139090, direct
IP-ASN, 139091, direct
IP-ASN, 139100, direct
IP-ASN, 139108, direct
IP-ASN, 139110, direct
IP-ASN, 139112, direct
IP-ASN, 139113, direct
IP-ASN, 139118, direct
IP-ASN, 139122, direct
IP-ASN, 139136, direct
IP-ASN, 139138, direct
IP-ASN, 139139, direct
IP-ASN, 139141, direct
IP-ASN, 139154, direct
IP-ASN, 139157, direct
IP-ASN, 139161, direct
IP-ASN, 139172, direct
IP-ASN, 139177, direct
IP-ASN, 139178, direct
IP-ASN, 139179, direct
IP-ASN, 139182, direct
IP-ASN, 139183, direct
IP-ASN, 139188, direct
IP-ASN, 139189, direct
IP-ASN, 139201, direct
IP-ASN, 139203, direct
IP-ASN, 139216, direct
IP-ASN, 139220, direct
IP-ASN, 139231, direct
IP-ASN, 139247, direct
IP-ASN, 139248, direct
IP-ASN, 139249, direct
IP-ASN, 139266, direct
IP-ASN, 139316, direct
IP-ASN, 139317, direct
IP-ASN, 139328, direct
IP-ASN, 139462, direct
IP-ASN, 139589, direct
IP-ASN, 139618, direct
IP-ASN, 139635, direct
IP-ASN, 139721, direct
IP-ASN, 139726, direct
IP-ASN, 139734, direct
IP-ASN, 139742, direct
IP-ASN, 139743, direct
IP-ASN, 139767, direct
IP-ASN, 139774, direct
IP-ASN, 139796, direct
IP-ASN, 139799, direct
IP-ASN, 139833, direct
IP-ASN, 139866, direct
IP-ASN, 139874, direct
IP-ASN, 139887, direct
IP-ASN, 139888, direct
IP-ASN, 139908, direct
IP-ASN, 140053, direct
IP-ASN, 140056, direct
IP-ASN, 140061, direct
IP-ASN, 140083, direct
IP-ASN, 140105, direct
IP-ASN, 140219, direct
IP-ASN, 140238, direct
IP-ASN, 140245, direct
IP-ASN, 140246, direct
IP-ASN, 140247, direct
IP-ASN, 140248, direct
IP-ASN, 140249, direct
IP-ASN, 140250, direct
IP-ASN, 140251, direct
IP-ASN, 140252, direct
IP-ASN, 140253, direct
IP-ASN, 140254, direct
IP-ASN, 140255, direct
IP-ASN, 140256, direct
IP-ASN, 140257, direct
IP-ASN, 140258, direct
IP-ASN, 140259, direct
IP-ASN, 140260, direct
IP-ASN, 140261, direct
IP-ASN, 140265, direct
IP-ASN, 140290, direct
IP-ASN, 140291, direct
IP-ASN, 140292, direct
IP-ASN, 140293, direct
IP-ASN, 140294, direct
IP-ASN, 140295, direct
IP-ASN, 140296, direct
IP-ASN, 140297, direct
IP-ASN, 140298, direct
IP-ASN, 140299, direct
IP-ASN, 140300, direct
IP-ASN, 140301, direct
IP-ASN, 140302, direct
IP-ASN, 140303, direct
IP-ASN, 140308, direct
IP-ASN, 140309, direct
IP-ASN, 140310, direct
IP-ASN, 140311, direct
IP-ASN, 140312, direct
IP-ASN, 140313, direct
IP-ASN, 140314, direct
IP-ASN, 140315, direct
IP-ASN, 140316, direct
IP-ASN, 140317, direct
IP-ASN, 140318, direct
IP-ASN, 140319, direct
IP-ASN, 140320, direct
IP-ASN, 140328, direct
IP-ASN, 140329, direct
IP-ASN, 140330, direct
IP-ASN, 140331, direct
IP-ASN, 140332, direct
IP-ASN, 140333, direct
IP-ASN, 140334, direct
IP-ASN, 140335, direct
IP-ASN, 140336, direct
IP-ASN, 140337, direct
IP-ASN, 140345, direct
IP-ASN, 140346, direct
IP-ASN, 140347, direct
IP-ASN, 140348, direct
IP-ASN, 140349, direct
IP-ASN, 140350, direct
IP-ASN, 140351, direct
IP-ASN, 140352, direct
IP-ASN, 140353, direct
IP-ASN, 140354, direct
IP-ASN, 140355, direct
IP-ASN, 140356, direct
IP-ASN, 140357, direct
IP-ASN, 140358, direct
IP-ASN, 140359, direct
IP-ASN, 140360, direct
IP-ASN, 140361, direct
IP-ASN, 140364, direct
IP-ASN, 140365, direct
IP-ASN, 140366, direct
IP-ASN, 140367, direct
IP-ASN, 140368, direct
IP-ASN, 140369, direct
IP-ASN, 140370, direct
IP-ASN, 140371, direct
IP-ASN, 140372, direct
IP-ASN, 140373, direct
IP-ASN, 140374, direct
IP-ASN, 140375, direct
IP-ASN, 140376, direct
IP-ASN, 140377, direct
IP-ASN, 140378, direct
IP-ASN, 140483, direct
IP-ASN, 140484, direct
IP-ASN, 140485, direct
IP-ASN, 140486, direct
IP-ASN, 140487, direct
IP-ASN, 140488, direct
IP-ASN, 140489, direct
IP-ASN, 140490, direct
IP-ASN, 140491, direct
IP-ASN, 140492, direct
IP-ASN, 140493, direct
IP-ASN, 140494, direct
IP-ASN, 140495, direct
IP-ASN, 140496, direct
IP-ASN, 140497, direct
IP-ASN, 140498, direct
IP-ASN, 140506, direct
IP-ASN, 140508, direct
IP-ASN, 140509, direct
IP-ASN, 140510, direct
IP-ASN, 140511, direct
IP-ASN, 140512, direct
IP-ASN, 140513, direct
IP-ASN, 140514, direct
IP-ASN, 140515, direct
IP-ASN, 140516, direct
IP-ASN, 140517, direct
IP-ASN, 140518, direct
IP-ASN, 140519, direct
IP-ASN, 140520, direct
IP-ASN, 140521, direct
IP-ASN, 140522, direct
IP-ASN, 140527, direct
IP-ASN, 140528, direct
IP-ASN, 140529, direct
IP-ASN, 140530, direct
IP-ASN, 140531, direct
IP-ASN, 140532, direct
IP-ASN, 140533, direct
IP-ASN, 140534, direct
IP-ASN, 140535, direct
IP-ASN, 140536, direct
IP-ASN, 140537, direct
IP-ASN, 140538, direct
IP-ASN, 140553, direct
IP-ASN, 140596, direct
IP-ASN, 140633, direct
IP-ASN, 140636, direct
IP-ASN, 140638, direct
IP-ASN, 140647, direct
IP-ASN, 140648, direct
IP-ASN, 140649, direct
IP-ASN, 140650, direct
IP-ASN, 140651, direct
IP-ASN, 140652, direct
IP-ASN, 140653, direct
IP-ASN, 140654, direct
IP-ASN, 140655, direct
IP-ASN, 140656, direct
IP-ASN, 140657, direct
IP-ASN, 140707, direct
IP-ASN, 140716, direct
IP-ASN, 140717, direct
IP-ASN, 140720, direct
IP-ASN, 140726, direct
IP-ASN, 140731, direct
IP-ASN, 140852, direct
IP-ASN, 140853, direct
IP-ASN, 140854, direct
IP-ASN, 140855, direct
IP-ASN, 140856, direct
IP-ASN, 140857, direct
IP-ASN, 140858, direct
IP-ASN, 140859, direct
IP-ASN, 140860, direct
IP-ASN, 140861, direct
IP-ASN, 140862, direct
IP-ASN, 140863, direct
IP-ASN, 140886, direct
IP-ASN, 140895, direct
IP-ASN, 140903, direct
IP-ASN, 140913, direct
IP-ASN, 140936, direct
IP-ASN, 140979, direct
IP-ASN, 141025, direct
IP-ASN, 141157, direct
IP-ASN, 141425, direct
IP-ASN, 141429, direct
IP-ASN, 141445, direct
IP-ASN, 141679, direct
IP-ASN, 141694, direct
IP-ASN, 141739, direct
IP-ASN, 141771, direct
IP-ASN, 141776, direct
IP-ASN, 141998, direct
IP-ASN, 142048, direct
IP-ASN, 142111, direct
IP-ASN, 142112, direct
IP-ASN, 142164, direct
IP-ASN, 142280, direct
IP-ASN, 142284, direct
IP-ASN, 142404, direct
IP-ASN, 142418, direct
IP-ASN, 142438, direct
IP-ASN, 142549, direct
IP-ASN, 142551, direct
IP-ASN, 142553, direct
IP-ASN, 142554, direct
IP-ASN, 142582, direct
IP-ASN, 142586, direct
IP-ASN, 142588, direct
IP-ASN, 142608, direct
IP-ASN, 142611, direct
IP-ASN, 142634, direct
IP-ASN, 142642, direct
IP-ASN, 146746, direct
IP-ASN, 146753, direct
IP-ASN, 146758, direct
IP-ASN, 146834, direct
IP-ASN, 146842, direct
IP-ASN, 146966, direct
IP-ASN, 148969, direct
IP-ASN, 149056, direct
IP-ASN, 149178, direct
IP-ASN, 149292, direct
IP-ASN, 149475, direct
IP-ASN, 149506, direct
IP-ASN, 149513, direct
IP-ASN, 149648, direct
IP-ASN, 149790, direct
IP-ASN, 149795, direct
IP-ASN, 205794, direct
IP-ASN, 206729, direct
IP-ASN, 208191, direct
IP-ASN, 208577, direct
IP-ASN, 208679, direct
IP-ASN, 209100, direct
IP-ASN, 210041, direct
IP-ASN, 210903, direct
IP-ASN, 211481, direct
IP-ASN, 211843, direct
IP-ASN, 212237, direct