#!name = GitHub加速
#!desc = 加速GitHub访问，解决GitHub访问困难的问题，如能正常访问GitHub请勿启用此插件！
#!openUrl = 
#!author = 可莉🅥
#!homepage = https://gitlab.com/lodepuly/vpn_tool/-/tree/main/Tool/QuantumultX/Rewrite

#[rewrite_local]
^https?:\/\/raw.githubusercontent.com url 302 https://raw.iqiq.io

#[mitm]
hostname = raw.githubusercontent.com