#!name = Google搜索重定向
#!desc = 将Google搜索重定向至.com域名，如遇频繁跳转请禁用本重写。
#!openUrl = 
#!author = 可莉🅥
#!homepage = https://gitlab.com/lodepuly/vpn_tool/-/tree/main/Tool/QuantumultX/Rewrite

#[rewrite_local]
^https?:\/\/raw.githubusercontent.com url 302 https://raw.fastgit.org

#[mitm]
hostname = raw.githubusercontent.com