#!name = 知乎去广告
#!desc = 去除开屏广告、首页右下角悬浮框、推荐列表广告、问题回答列表广告、具体回答下的广告。
#!openUrl = 
#!author = app2smile
#!homepage = https://gitlab.com/lodepuly/vpn_tool/-/tree/main/Tool/QuantumultX/Rewrite

^https:\/\/(appcloud2\.zhihu\.com\/v3\/config$|www\.zhihu\.com\/api\/v4\/(answers\/\d+\/recommendations|articles\/\d+\/recommendation)|api\.zhihu\.com\/(topstory\/recommend|commercial_api\/(real_time_launch_v2|app_float_layer$)|questions\/\d+\/feeds\?|v4\/questions\/\d+\/answers\?)) url script-response-body https://raw.githubusercontent.com/app2smile/rules/master/js/zhihu.js

hostname = api.zhihu.com, www.zhihu.com, appcloud2.zhihu.com