name: 规则同步

on:
  workflow_dispatch:
  schedule:
    - cron: '30 23 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: Checkout Files
      uses: actions/checkout@v2
      with:
        repository: iEwha/Rules
        ref: iosRules
        path: Rules

    - name: copy Files
      run: cp -r Rules/. Provider

    - name: Checkout AdRules
      uses: actions/checkout@v2
      with:
        repository: iEwha/Rules
        ref: main
        path: Rules

    - name: copy AdRules
      run: cp -r Rules/AdRule.list Provider/Ruleset/AdRule.list

    - name: Upload to this repo
      run: |
        if [ -n "$(git status -s)" ];then
            echo "规则同步"
            git config --global user.name ${{ secrets.GIT_USER }}
            git config --global user.email ${{ secrets.GIT_EMAIL }}
            git add . 
            git commit -m 'update'  
            git push -u origin master
            echo "完成同步"
        else
            echo "规则未修改"
        fi
        exit 0
